/* src/index.css */

/* Optional global styles for Bootstrap app */
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa; /* light gray background */
}
